# External gems - updated to plugins in jekyll v3.6
plugins:
   - jekyll-seo-tag
   - jekyll-sitemap
 # - jekyll-assets
 # - autoprefixer-rails

#exclude:
#  - "/vendor/"

# Site settings
title: KindleCo
subtitle: nurturing initiative
name: KindleCo
description: Nurturing initiative
# Base URL of site (i.e. /blog). It should always start with a slash,
# and never end with a slash. Set it to a blank value if hosting at the
# root of your server.
baseurl: ""
# the base hostname & protocol for your site
url: "https://www.kindleco.co.uk" #"http://outrageous-hurricane.cloudvent.net"
logo: "/assets/logo.png"
email: "jobroad@kindleco.co.uk"
placeholder_image: "/assets/images/leaf-icon.png"
# Build settings
markdown: kramdown

#inter_post_navigation: false
permalink: pretty
highlightjs_theme: "monokai-sublime"

# Image CDN
imagecdn:
  staging: "https://ed-kindleco-dev.imgix.net"
  production: "https://ed-kindleco.imgix.net"

# Collections Example
collections:
    casestudies:
        output: true
        permalink: /casestudies/:path/

# Defaults Example
defaults:
    -
        scope:
            path: ""
            type: "casestudies"
        values:
            layout: "casestudy"
    -
        scope:
          path: "" # an empty string here means all files in the project
          type: "posts" # previously `post` in Jekyll 2.2.
        values:
          layout: "post"

_options:
  _text:
    italic: true
    bold: true
    link: true
    undo: true
    redo: true
    underline: true
    strike: true
  _block:
    left: align-left
    center: center-this-text
    right: align-right
    justify: full-width-text
    undo: true
    redo: true
    format: p h1 h2 h3 h4 div
    numberedlist: true
    bulletedlist: true
    indent: true
    outdent:  true
    blockquote: true
    image: true
    styles: /css/editor.scss
  content:
    left: align-left
    center: center-this-text
    right: align-right
    justify: full-width-text
    undo: true
    redo: true
    format: p h1 h2 h3 h4 div
    numberedlist: true
    bulletedlist: true
    indent: true
    outdent:  true
    blockquote: true
    image: true
    styles: /css/editor.scss

# Payment settings
# Environment settings
#appurl:
    # development: "http://0.0.0.0:4000"
    #
    # staging URL
    # staging: "http://black-hare.cloudvent.net/"
    #
    # production URL
    # production: ""

# Snipcart API key
# snipcart_api_key:

# PayPal merchant ID
# paypal_id:

# Disqus comments
# disqus_shortname:

# Google analytics
ga_tracking_id: "UA-120511015-1"

# Google Recaptcha used for contact form
recaptcha_site_key: "6LfnsF0UAAAAAKjnb2DDtrYpGufEu9y6owbSWygR"

# Social icons and sharing options
#
# Social settings are used in two places:
# * In the footer, as links to your personal profiles
# * After each blog post for sharing widgets
#
# Example:
#
# social:
#   - name: Twitter                         # Name of the service
#     icon: twitter                         # SVG icon to use
#     username: "@EyeDivision"              # (User) Name to display in the footer link
#     url: https://twitter.com/EyeDivision  # URL of your profile (leave blank to not display in footer)
#     desc: Follow me on Twitter            # Description to display as link title, etc
#     share: true                           # Include in the "Share" section of posts
social:

  - name: Facebook
    icon: icon-facebook_sign
    username:
    url:
    desc: Like on Facebook
    share: true

  - name: Instagram
    icon: icon-instagram
    username:
    url:
    desc: Follow me on Instagram
    share: false

  - name: Twitter
    icon: icon-twitter_sign
    username: 'jobroad_kin'
    url: https://twitter.com/jobroad_kin
    desc: Follow KindleCo on Twitter
    share: true

  - name: Pinterest
    icon: icon-pinterest
    username:
    url:
    desc: Follow me on Pinterest
    share: true

  - name: linkedin
    icon: icon-linkedin_sign
    username: jo-broad
    url: https://uk.linkedin.com/pub/jo-broad/0/666/669
    desc: Connect with KindleCo on LinkedIn
    share: true

# https://uk.linkedin.com/pub/jo-broad/0/666/669
#
# Social sharing protocols
# These are for automatically generating sharing metadata for FB and Twitter

protocols:
    fb_image: "/assets/logo.png"
    fb_image_width: 399
    fb_image_height: 170
    fb_image_type: "image/png"

    twitter_image: "/assets/logo.png"

