---
layout: page
title: "Case studies"
permalink: /casestudies/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown: Short home page description
frontpagetitle: "Case studies"
archive: false
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
---

<section class="casestudy-intro editable">

</section>

{% assign casestudies = site.casestudies | where:"archive",false | sort: "order" %}

{% if casestudies %}

<section class="casestudies-current">

  <ul class="posts--list">

  {% for casestudy in casestudies %}

  <li class="post--inlist">

    <a href="{{ casestudy.url }}" title="{{ casestudy.title }}" class="post--image">
      {% if casestudy.main_image_path %}
          {% include img.html src=casestudy.main_image_path max-w=200 %}
      {% else %}
          {% include img.html src=site.placeholder_image width=150 %}
      {% endif %}
    </a>

    <div class="post--caption">
        {% if casestudy.short_description_markdown %}
        <h3>{{ casestudy.title }}</h3>
        <p>{{ casestudy.short_description_markdown | markdownify }}<br />
          <a href="{{ casestudy.url }}" title="{{ casestudy.title }}">View this case study&nbsp;&raquo;</a></p>
        {% endif %}
    </div>

  </li>
  {% endfor %}
  </ul>

</section>


{% endif %}

<section>
<div class="editable">
  <p><a name="testimonials"></a></p>
  <h2>Testimonials <em>from the world of Health, Education, Social Care, Cultural Industries &amp; Corporate Social Responsibility</em></h2>
  <blockquote>
    <p><em><strong>With strong strategic skills</strong> and an experienced grasp of public sector dynamics, Jo enables us to arrive at an informed view of what key shifts in the Public Sector mean for us as a&nbsp;<strong>whole-organisation......</strong></em>to understand<em>&nbsp;the context of the national landscape in moving forward&nbsp;</em><em></em></p>
    <p><em>John Diamond, CEO, <a data-cms-editor-link-style="undefined" href="https://mulberrybush.org.uk/international-centre/#.W0iH6tVKiM8">Mulberry Bush Organisation</a>&nbsp;2016</em></p>
  </blockquote>
  <blockquote>
    <p>I found Jo&rsquo;s clear, analytical thinking incredibly helpful. She was able to give me a <strong>succinct briefing</strong> regarding key &amp; relevant changes to family legislation, which I was able to efficiently apply when preparing a publication for my professional work in <strong>mental health</strong>.</p><cite>Mental Health Professional, 2015</cite></blockquote>
  <blockquote>Staying abreast of significant change in the complex eco-system of my multiple stakeholders, is fundamental to the success of my role in the Health Outcomes. KindleCo brought me straight up to speed on recent changes at national level .... the way Health would work with its partner agencies &hellip;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; bite-size &amp; bespoke, the support was information-rich, when I was time poor".&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Business Development lead, 2016</blockquote>
  <blockquote>
    <p>Jo has hugely increased our profile with business partners and government agencies alike, <strong>brokering partnerships of mutual benefit</strong> all round. Jo understands the ethos of organisations that innovate and knows how to deliver results</p><cite>Andrew Hutchinson, OBE, Executive Principal, <a data-cms-editor-link-style="undefined" href="http://www.parksidefederation.org.uk/multi/multi-academy-trust/">Parkside Federation Academies</a>&nbsp;2005</cite></blockquote>
  <blockquote>
    <p>Working with Jo was <strong>fruitful and positive</strong> - we took our services into areas and communities we had not worked with before</p><cite>Former Director, Business Link, East England, 2001</cite></blockquote>
  <blockquote>
    <p>KindleCo have the ability to <strong>grasp the essence of your vision and translate it into flesh and bones</strong> - we are getting opportunities we would never have discovered on our own</p><cite>Pippy Trentham, Director, </cite><a data-cms-editor-link-style="undefined" href="http://onestage.co.uk/">One Stage Concert Tours</a>, 2004</blockquote>
  <blockquote>
    <p><strong>Jo brought five very diverse organisations together</strong>&nbsp;during her time at Arts Council England and <strong>shaped a project</strong> that could <strong>meet different corporate needs</strong> - the result was both innovative and pragmatic</p><cite>Wilma Scott, Head of Employment &amp; Public Affairs, <strong>BAA</strong>, 2004</cite></blockquote>
  <blockquote>Jo quickly demonstrates her <strong>skills in capturing organisational 'essence', understanding our unique corporate dynamics</strong>. Discreet, professional and positive, Jo&rsquo;s input helps ensure <strong>we meet sector challenges with confidence</strong><strong>&nbsp;</strong><a data-cms-editor-link-style="undefined" href="https://mulberrybush.org.uk/our-charity/#.W0iJmdVKiM8">Mulberry Bush Organisation</a>, national charity for Vulnerable Children, Oxfordshire, 2018</blockquote>
</div>
  </section>
