---
layout: page
title: "Case studies"
permalink: /casestudies/
main_image_path:
main_image_caption:
frontpage: false
homepage_description_markdown: Short home page description
frontpagetitle: "Case studies"
archive: false
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  title: Page title
  permalink: Be careful editing this
  main_image_path: Image used to represent your page
  archive: Not used yet!
  frontpage: Show this page on the homepage
  homepage_description_markdown: Text used on homepage if shown
  frontpagetitle: Alternative title for home page use
---

<section class="casestudy-intro editable">

</section>

{% assign casestudies = site.casestudies | where:"archive",false | sort: "order" %}

{% if casestudies %}

<section class="casestudies-current">

  <ul class="posts--list">

  {% for casestudy in casestudies %}

  <li class="post--inlist">

    <a href="{{ casestudy.url }}" title="{{ casestudy.title }}" class="post--image">
      {% if casestudy.main_image_path %}
          {% include img.html src=casestudy.main_image_path max-w=400 %}
      {% else %}
          {% include img.html src="/siteicon.png" max-w=400 %}
      {% endif %}
    </a>

    <div class="post--caption">
        {% if casestudy.short_description_markdown %}
        <h3>{{ casestudy.title }}</h3>
        <p>{{ casestudy.short_description_markdown | markdownify }}<br>
          <a href="{{ casestudy.url }}" title="{{ casestudy.title }}">View this case study&nbsp;&raquo;</a></p>
        {% endif %}
    </div>

  </li>
  {% endfor %}
  </ul>

</section>

{% endif %}

