---
layout: home
title: "Welcome to KindleCo"
_options:
  image:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
_comments:

---

<div class="editable">
      <p><strong>Working in the interests of Children, Young People &amp; Families</strong></p>
      <p>&nbsp;</p>
      <p>KindleCo is an independent, specialist provider of&nbsp;<strong>Consultancy, Coaching &amp; Programme Leadership&nbsp;</strong></p>
      <p><strong></strong>for <strong>Social Purpose</strong> organisations and the <strong>Public Sector</strong>.</p>
      <p>Founded by Jo Broad in 2004, KindleCo specialises in <strong>Strategy &amp; Development</strong> - the enablement of:&nbsp;</p>
      <p>&nbsp;<img width="51" height="38" src="/uploads/kindle-templates-bullet.jpg" />&nbsp;<strong>Organisations</strong></p>
      <p><strong>&nbsp;<img width="51" height="38" src="/uploads/kindle-templates-bullet-1.jpg" />&nbsp; Sector Partnerships</strong></p>
      <p><strong>&nbsp;<img width="51" height="38" src="/uploads/kindle-templates-bullet-2.jpg" />&nbsp; Projects, cross-disciplinary &amp; multi-agency</strong></p>
      <p><strong>&nbsp;<img width="51" height="38" src="/uploads/kindle-templates-bullet-3.jpg" />&nbsp; Networks</strong></p>
      <p><strong>&nbsp;<img width="51" height="38" src="/uploads/kindle-templates-bullet-4.jpg" />&nbsp; Professionals&nbsp;</strong></p>
      <p>KindleCo consults &amp; advises on Strategy and on the design, positioning, funding, sustainability and brokerage of initiatives which grow the lifechances of</p>
      <p><em><strong>Children, Young People, Families and their network of supporting professionals</strong></em>&nbsp;</p>
      <p>With more than 25 years experience of establishing new initiatives in, with and through the Public Sector, Jo is passionate about the power of <strong><em>collaboration</em></strong>, the value of <em><strong>systems-level thinking</strong></em><em>,</em> the importance of <em><strong>equality of opportunity</strong></em> and the positive impact of <em><strong>creativity</strong></em>.</p>
      <p><strong>Helping Leaders and their Teams</strong>&nbsp;to build shared <strong><em>perspective</em></strong>, understand the <em><strong>landscape external</strong></em> to their projects and strengthen their organisational capabilities in <em><strong>strategy</strong></em> formulation, sector <em><strong>navigation</strong></em>, policy <em><strong>response</strong></em> and <em><strong>change</strong></em>-proofing.</p>
      <p>KindleCo supports the key <strong>Public Policy</strong> areas impacting <strong>Children, Young People &amp; Families</strong> by</p>
      <p><strong>Supporting sector champions of:</strong></p>
      <ul class="list--bulleted">
        <li><strong>Social Inclusion</strong></li>
        <li><strong>Learning, Education &amp; Skills</strong></li>
        <li><strong>Mental Health &amp; Wellbeing</strong></li>
        <li><strong></strong><strong>Co Production</strong></li>
        <li><strong>the Arts</strong></li>
      </ul>
      <p>:To</p>
      <ul class="list--bulleted">
        <li><strong>respond</strong> confidently to sector change</li>
        <li><strong>plan</strong> strategically</li>
        <li><strong>build</strong> capacity</li>
        <li><strong>broker</strong>&nbsp;alliances</li>
        <li><strong>design</strong> new work streams</li>
        <li><strong>deepen</strong> stakeholder relationships</li>
        <li><strong>deliver</strong> multi-agency projects</li>
        <li><strong>enrich</strong>&nbsp;organisational development</li>
        <li><strong>lead</strong> with through &amp; for others</li>
      </ul>
      <blockquote>
        <p>&nbsp;</p>
        <p>KindleCo is values - led and outcomes &ndash; driven, committing to work with:</p>
        <h3><em><strong>C</strong><strong><strong>o</strong>llaboration&nbsp; &nbsp;</strong></em><em><strong>C</strong><strong><strong>o</strong>mpassion&nbsp; &nbsp;&nbsp;</strong><em><strong>Co</strong><strong>urage&nbsp; &nbsp;</strong></em>C<strong>reativity</strong></em>
        </h3>
      </blockquote>
      <blockquote>
        <p>I will work with you to enable greater impact &amp; resilience to be built into your work streams, your organisation and your contribution to the sector</p>
        <p>Collaborative endeavour is my rocket fuel and I want it to be yours too!​​​​​​.....</p>
      </blockquote>
      <blockquote>
        <p>"Jo understands the ethos of organisations that innovate and knows how to deliver results"</p>
      </blockquote>
      <p><a href="/clients-and-testimonials/">View more client testimonials.......</a></p>
    </div>

<section>

    <ul class="posts-list">

      {% for post in site.posts limit:2 %}

        <li class="post--inlist">

          <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="post--image">
            {% if post.main_image_path %}
                {% include img.html src=post.main_image_path max-w=400 %}
            {% else %}
                {% include img.html src="/siteicon.png" max-w=400 %}
            {% endif %}
          </a>

          <div class="post--caption">
              <h3>{{ post.title }}</h3>
              <p>{{ post.excerpt | markdownify }}
              <a href="{{ post.url }}" title="{{ post.title }}">Read more&nbsp;&raquo;</a></p>
            <div class="post-meta">
              <div class="post-date">{{ post.date | date: "%B %Y" }}</div>
              <!-- Editor Link -->
              <a href="cloudcannon:collections/{{ post.path }}" class="editor-link">Edit post</a>
            </div>
          </div>

        </li>

      {% endfor %}

    </ul>

  </section>
