// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site--footer {
    padding: 1em;
    background-color: $footer-background;
    color: $footer-color;
    text-align: center;
    .wrapper {
        padding: 0 1em;
        margin-top: 1em;
    }
    a {
        color: $footer-color;
        &:hover {
            color: $footer-color-hover;
        }
    }
}
.footer--wrapper {
    padding: 0 1em;
    margin-top: 1em;
}
///  Site Navigation (left)

.site--navigation {

}

.social-media-list {
    text-align: center;
    padding: 1em 0;
    a {
        text-decoration: none;
    }
}
///   Site Description/Signature (right)

.site--signature {
    text-align: center;
    padding: 1em 0;
    font-size: modular-scale(-1);
}

///   Contact Info (center)

.site--contact {

    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul !optional;
    }
}
.site--copyright {
    text-align: center;
}

/// And now, with the grid
@supports (display: grid) {

    .site--footer {
        // positioning of main body grid - push down to bottom of page
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .footer--wrapper {
        display: grid;  // this is the container
        grid-gap: 10px;
        justify-items: center;
        // how many columns in this grid?
        // NONE!
        //grid-template-columns: repeat(3, 33% [col-start]);
    }
}