ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

ol.default {
    @extend %default-ol !optional;
}

ul.default {
    @extend %default-ul !optional;
}
.list--horizontal {
  display: inline;
  padding-right: 1em;
}